<div ng-controller="homeController" class="container container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Ruann Linde", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="title">
        <h1 scrambler ng-scope="model.titles"></h1>

        {{model}}
    </div>
    <section>
        <div class="row">
            <div class="col-12">
                <div class="profile">
                    <p>
                        With more than 16 years’ experience in programming - within both enterprise and start up environment – I am proficient in most software development methodologies. I have proven expertise in developing and leading complex projects, and have excellent technical and communication skills. I am a proactive problem solver, self-motivated and highly driven.
                    </p>
                    <p>
                        Most importantly. I love what I do.
                    </p>
                    <p>
                        With my passion for continual personal and technical growth, I’m now looking for my next opportunity to apply my years of experience, leading a team towards the goal of enhancing and improving organisations by successfully completing new complex projects.
                    </p>
                </div>
            </div>
        </div>

    </section>
</div>
@*<div class="row">
        <div class="col-xs-12">
            <div id="avatar-carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/avatar1.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar2.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar3.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>*@